// Colors

$color-main: #201f31;
$color-main-light: #2d2b44;
$color-charcoal: #111111;
$color-pink: #ffbade;
$color-green: #b0e3af;
$color-blue: #b9e7ff;
$color-gray: #3a3951;
$color-white: #ffffff;
$color-gray-dark: #eeeeee33;
$color-arrow-bg: #ffffff1a;
